body {
	margin: 0;
	padding: 0;
	background: #08236d;
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	color: white;
	font-weight: 400;
}
.numbers {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.titles {
	font-family: 'PT Sans Narrow', sans-serif;
}
.container {
    height: 90vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}
.dogGrid {
	perspective: 10000px;
	display: grid;
	margin-left: auto;
	margin-right: auto;
	padding: 2vh;
	background: rgb(204, 239, 249);
	width: 95%;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 1vh;
	grid-row-gap: 1vh;
	transition: 1.0s all ease-in-out;
}
.front {
	transform: RotateY(180deg);
}
.back {
	transform: RotateY(0deg);
}
.card {
	transform-style: preserve-3d;
	display: grid;
	grid-template-areas: overlap;
	transition: 0.4s all ease-in-out;
}
.card:hover {
	cursor: pointer;
}
.front, .back {
	grid-area: overlap;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	backface-visibility: hidden;
}
.flip {
	transform-origin: center;
	transform: RotateY(180deg);
}
.imageFace {
    border-radius: 8px;
	width: 10vw;
	height: 10vw;

}
